body {
    background-color: #D1DAD9;

    width: 100%;

    font-family: YuGothic, 'Yu Gothic', "游ゴシック体", "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
    line-height: 1.266;
    font-size: 100%;

    padding-top: 1.618rem;
    padding-bottom: 1.618rem;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #80878B;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #80878B;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #80878B;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #80878B;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #80878B;
}

/* Default spacing for every element based on golden ratio. */
header > *+*,
main > *+*,
.Corrections > *+* {
    margin-top: 1.618rem;
}

main {
    margin-top: 1.618rem;
}

/* Start Header */
.logo {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4;
    color: #23A087;
}

.message {
    color: #6B7073;
}
/* End Header */

/* Start Footer */
footer > p {
    color: #6B7073;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}
/* End Footer */

/* Video */
.video {
    position: relative;

	padding-bottom: 56.25%; /* 16:9 */

	height: 0;
}

.video > iframe {
    position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}
/* End Video */

/* Home page Videos */

.Videos--title {
    padding: 0 14px;
}

.Video {
    position: relative;
}

.Video--title {
    position: absolute;
    display: block;
    bottom: 1rem;
    padding: 0 14px;
    color: #fff;
}

.Video--image {
    position: relative;
}

.Video--image::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

.Video--image > img {
    max-width: 100%;
    display: block;
    border: 0;
}

.Videos--videosContainer {
    margin-top: 1rem;
}
/* End Home Page Videos */

/* Start Authentication */
.Authentication {
    padding: 0 14px;
}

/* Default styles / Unauthenticated */
.Authentication--state {
    font-size: 0.618rem;
    line-height: 1.26;
    color: #80878B;

    position: relative;

    padding-left: 0.618rem;
}

/* The dot. */
.Authentication--state::before {
    content: " ";
    display: block;

    width: 0.3819rem;
    height: 0.3819rem;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: 4px;

    background-color: #6F7776;
}

/* Authenticated */
.Authentication--state.Authentication--state-authenticated {
    color: #19C19F;
}

.Authentication--state.Authentication--state-authenticated::before {
    background-color: #19C19F;
    box-shadow: 0px 0px 1px #19C19F;
}

/* States */
.Authentication[data-state~="unauthenticated"] .Authentication--state:not(.Authentication--state-unauthenticated),
.Authentication[data-state~="authenticated"] .Authentication--state:not(.Authentication--state-authenticated){
    display: none;
}
/* End Authentication */

/* Correct Form */

.correctForm {
    overflow: hidden; /* Clearfix */
    clear: both;
    margin-top: 0.618rem;
}

.correctForm--textArea {
    /* Reset */
    background: none;
    resize: none;
    border: none;

    border-radius: 3px;

    color: #373B3A;
    background-color: #B6BEBD;

    width: 100%;

    height: 1.516875rem;
}

.correctForm--callToAction {
    float: right;
}

/* States */
.correctForm[data-state~="empty"] .correctForm--callToAction {
    display: none;
}

.correctionForm[data-state~="showCallToAction"] .correctForm--callToAction {
    display: block;
}
/* End Correct Form */

/* Start Corrections */
.Corrections {
    padding: 0 14px;
}

.Correction {
    margin-top: 1.618rem;
}

@-webkit-keyframes fade-correction-in {
   0% {
       background-color: rgba(35, 160, 135, 0.5);
   }
   100% {
       background-color: rgba(255, 255, 255, 0);
   }
}

@keyframes fade-correction-in {
    0% {
        background-color: rgba(35, 160, 135, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.Correction.Correction-animated {
    -webkit-animation: fade-correction-in 500ms ease-in 1;
    animation: fade-correction-in 500ms ease-in 1;
}

.Corrections--title {
    color: #23A087;
    display: block;
    border-bottom: 1px solid #C1CCCA;
    padding-bottom: 0.618rem;
}

.Correction--number {
    color: #23A087;
    font-family: "Arial", sans-serif;
}

.Correction--message {
    margin-top: 0.618rem;
    color: #6B7073;
}

/* States */
.Corrections[data-state~="loading"] .Correction:not(.Correction-loading),
.Corrections[data-state~="empty"] .Correction:not(.Correction-empty),
.Corrections[data-state~="loaded"] .Correction.Correction-loading,
.Corrections[data-state~="loaded"] .Correction.Correction-empty {
    display: none;
}

/* End Corrections */

/* Multiple Styles */
.button {
    /* Reset */
    background: none;
    border: none;

    border-radius: 3px;

    background-color: #23A087;
    color: #D6E0DF;

    font-size: 1rem;
    font-weight: bold;

    padding: 0.5rem 2rem;
}

.button[data-state~="submitting"] {
    background-color: #717D7B;
    color: #404847;
    cursor: not-allowed;
}

/* End Button */

/* Multiple Styles */
header,
.correctForm {
    padding: 0 14px;
}
/* End Multiple Styles */